.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

}

.container :global {

  .container-item {
    margin-bottom: 60px;
  }

  .ant-pro-form-login-container {
    padding: 0;
  }

  .ant-pro-form-login-logo {
    width: 50px;
    height: 50px;
  }

  .ant-pro-form-login-title {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .container {
    background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
  }

  .content {
    padding: 32px 0 24px;
  }
}