# Dependency directories
node_modules/

# production
/build

# testing
/coverage

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dotenv environment variables file
.env*.local

# misc
.DS_Store
*.swp
*.dia~
.idea
.run
.vscode

# tmp
.ice

# cache
.eslintcache
.stylelintcache
